In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd
df = pd.read_csv(r"E:\Power Bi\SuperStoreUS-2015.csv")

In [3]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,01/07/2015,01/08/2015,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,06/13/2015,06/15/2015,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,02/15/2015,02/17/2015,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,05/12/2015,05/14/2015,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,05/12/2015,05/13/2015,-24.0300,7,22.23,86838

In [4]:
df.tail()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
1947,19842,High,0.01,10.90,7.46,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Danville,61832,03/11/2015,03/12/2015,-116.7600,18,207.31,87536
1948,19843,High,0.10,7.99,5.03,3397,Andrea Shaw,Regular Air,Small Business,Technology,...,Central,Illinois,Danville,61832,03/11/2015,03/12/2015,-160.9520,22,143.12,87536
1949,26208,Not Specified,0.08,11.97,5.81,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Des Plaines,60016,03/29/2015,03/31/2015,-41.8700,5,59.98,87534
1950,24911,Medium,0.10,9.38,4.93,3400,Florence Gold,Express Air,Small Business,Furniture,...,East,West Virginia,Fairmont,26554,04/04/2015,04/04/2015,-24.7104,15,135.78,87537
1951,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,02/08/2015,02/11/2015,349.4850,5,506.50,87530

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1952 non-null   int64
 1   Order Priority        1952 non-null   object
 2   Discount              1952 non-null   float64
 3   Unit Price            1952 non-null   float64
 4   Shipping Cost         1952 non-null   float64
 5   Customer ID           1952 non-null   int64
 6   Customer Name         1952 non-null   object
 7   Ship Mode             1952 non-null   object
 8   Customer Segment      1952 non-null   object
 9   Product Category      1952 non-null   object
 10  Product Sub-Category  1952 non-null   object
 11  Product Container     1952 non-null   object
 12  Product Name          1952 non-null   object
 13  Product Base Margin   1936 non-null   float64
 14  Country               1952 non-null   object
 15  Region                1952 non-null   object
 16  State or Province     1952 non-null   object
 17  City                  1952 non-null   object
 18  Postal Code           1952 non-null   int64
 19  Order Date            1952 non-null   object
 20  Ship Date             1952 non-null   object
 21  Profit                1952 non-null   float64
 22  Quantity ordered new  1952 non-null   int64
 23  Sales                 1952 non-null   float64
 24  Order ID              1952 non-null   int64
dtypes: float64(6), int64(5), object(14)
memory usage: 381.4+ KB

In [6]:
df.describe(include = "all")

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
count,1952.000000,1952,1952.000000,1952.000000,1952.000000,1952.000000,1952,1952,1952,1952,...,1952,1952,1952,1952.000000,1952,1952,1952.000000,1952.000000,1952.000000,1952.000000
unique,NaN,6,NaN,NaN,NaN,NaN,1130,3,4,3,...,4,49,869,NaN,179,187,NaN,NaN,NaN,NaN
top,NaN,Low,NaN,NaN,NaN,NaN,Jenny Gold,Regular Air,Corporate,Office Supplies,...,Central,California,New York City,NaN,04/09/2015,01/08/2015,NaN,NaN,NaN,NaN
freq,NaN,398,NaN,NaN,NaN,NaN,9,1437,684,1071,...,566,214,47,NaN,28,23,NaN,NaN,NaN,NaN
mean,19916.479508,NaN,0.048975,109.079221,12.968151,1735.376537,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51534.769467,NaN,NaN,114.793859,12.944672,985.828832,82365.924180
std,5957.595627,NaN,0.031378,393.481301,17.414631,991.078006,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,29362.828420,NaN,NaN,1141.112387,13.871565,2559.900167,19042.295798
min,64.000000,NaN,0.000000,1.140000,0.490000,3.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1001.000000,NaN,NaN,-16476.838000,1.000000,2.250000,359.000000
25%,19121.000000,NaN,0.020000,6.480000,3.230000,875.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28560.000000,NaN,NaN,-84.485400,5.000000,58.807500,86767.750000
50%,21164.500000,NaN,0.050000,20.990000,6.150000,1738.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48765.500000,NaN,NaN,1.476450,10.000000,202.395000,88376.000000
75%,23483.250000,NaN,0.080000,100.972500,14.362500,2578.250000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,78550.000000,NaN,NaN,116.201575,16.000000,802.945000,89957.000000
max,26389.000000,NaN,0.210000,6783.020000,164.730000,3403.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,99362.000000,NaN,NaN,9228.225600,167.000000,45737.330000,91586.000000

In [7]:
df.isnull().sum()

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

In [8]:
df["Product Base Margin"] = df.groupby("Product Category")["Product Base Margin"].transform(lambda x: x.fillna(x.median()))

In [9]:
df.isnull().sum()

Row ID                  0
Order Priority          0
Discount                0
Unit Price              0
Shipping Cost           0
Customer ID             0
Customer Name           0
Ship Mode               0
Customer Segment        0
Product Category        0
Product Sub-Category    0
Product Container       0
Product Name            0
Product Base Margin     0
Country                 0
Region                  0
State or Province       0
City                    0
Postal Code             0
Order Date              0
Ship Date               0
Profit                  0
Quantity ordered new    0
Sales                   0
Order ID                0
dtype: int64

In [10]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(" ","_")

In [11]:
df.columns=df.columns.str.replace("-","_")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   row_id                1952 non-null   int64
 1   order_priority        1952 non-null   object
 2   discount              1952 non-null   float64
 3   unit_price            1952 non-null   float64
 4   shipping_cost         1952 non-null   float64
 5   customer_id           1952 non-null   int64
 6   customer_name         1952 non-null   object
 7   ship_mode             1952 non-null   object
 8   customer_segment      1952 non-null   object
 9   product_category      1952 non-null   object
 10  product_sub_category  1952 non-null   object
 11  product_container     1952 non-null   object
 12  product_name          1952 non-null   object
 13  product_base_margin   1952 non-null   float64
 14  country               1952 non-null   object
 15  region                1952 non-null   object
 16  state_or_province     1952 non-null   object
 17  city                  1952 non-null   object
 18  postal_code           1952 non-null   int64
 19  order_date            1952 non-null   object
 20  ship_date             1952 non-null   object
 21  profit                1952 non-null   float64
 22  quantity_ordered_new  1952 non-null   int64
 23  sales                 1952 non-null   float64
 24  order_id              1952 non-null   int64
dtypes: float64(6), int64(5), object(14)
memory usage: 381.4+ KB

In [13]:
# /create column purchase frequency days
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   row_id                1952 non-null   int64
 1   order_priority        1952 non-null   object
 2   discount              1952 non-null   float64
 3   unit_price            1952 non-null   float64
 4   shipping_cost         1952 non-null   float64
 5   customer_id           1952 non-null   int64
 6   customer_name         1952 non-null   object
 7   ship_mode             1952 non-null   object
 8   customer_segment      1952 non-null   object
 9   product_category      1952 non-null   object
 10  product_sub_category  1952 non-null   object
 11  product_container     1952 non-null   object
 12  product_name          1952 non-null   object
 13  product_base_margin   1952 non-null   float64
 14  country               1952 non-null   object
 15  region                1952 non-null   object
 16  state_or_province     1952 non-null   object
 17  city                  1952 non-null   object
 18  postal_code           1952 non-null   int64
 19  order_date            1952 non-null   object
 20  ship_date             1952 non-null   object
 21  profit                1952 non-null   float64
 22  quantity_ordered_new  1952 non-null   int64
 23  sales                 1952 non-null   float64
 24  order_id              1952 non-null   int64
dtypes: float64(6), int64(5), object(14)
memory usage: 381.4+ KB

In [17]:
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas

# connection parameters (replace)
conn = snowflake.connector.connect(
    user='YOUR_USER',
    password='YOUR_PASSWORD',
    account='your_account_region',    # e.g. 'xy12345.us-east-1'
    warehouse='YOUR_WAREHOUSE',
    database='YOUR_DB',
    schema='YOUR_SCHEMA',
    role='YOUR_ROLE'                  # optional
)

# choose a target table name
table_name = 'MY_TARGET_TABLE'

# this will create the table if you pass auto_create_table=True (check docs & permissions)
success, nchunks, nrows, _ = write_pandas(
    conn=conn,
    df=df,
    table_name=table_name,
    database='YOUR_DB',    # optional if in connection
    schema='YOUR_SCHEMA',
    auto_create_table=True,   # set to False if table already exists
    chunk_size=16000000       # optional tuning (bytes) for parquet chunks
)

print("success:", success, "rows:", nrows)
conn.close()

KeyError: "['order_frequency'] not in index"